@import url(https://fonts.googleapis.com/css?family=Open+Sans|Playfair+Display&display=swap);

@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");


body {
	font-family: Open Sans, sans-serif;
	font-size: 18px;
	margin: 0px;
}

h1, h2, h3 {
	font-family: Playfair Display, serif;
	font-weight: bold;
}

a {
	text-decoration: none;
}